/* ========= FONT ========= */
@font-face {
  font-family: 'Lexend Deca';
  src: url('../fonts/LexendDeca-Regular.woff2') format('woff2'),
      url('../fonts/LexendDeca-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Big Shoulders Display';
  src: url('../fonts/BigShouldersDisplay-Bold.woff2') format('woff2'),
      url('../fonts/BigShouldersDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --body-font-a: 'Lexend Deca';
  --body-font-b: 'Big Shoulders Display';
  /* ========= COLORS NEUTRAL ========= */
  --transparent-white: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
  --very-light-gray: hsl(0, 0%, 95%); /*background, headings, buttons*/
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

.card-title {
  font-family: var(--body-font-b);
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: var(--very-light-gray);
  font-size: 2rem;
  letter-spacing: 1.5px;
}

.card-description,
.card-button {
  font-family: var(--body-font-a);
}

.card-description {
  max-width: 15rem;
  margin-bottom: 2rem;
  color: var(--transparent-white);
  line-height: 1.5rem;
}

.card-button {
  cursor: pointer;
  background-color: var(--very-light-gray);
  border-radius: 1.5rem;
  transition: .2s;
  padding: 0.85rem 1.6rem;
  border: 2px solid var(--very-light-gray);
}

.card-button:hover {
  background-color: transparent;
  color: var(--transparent-white);
}

/* ========= MEDIA QUERIES ========= */
/* For Large Devices */
@media screen and (min-width: 968px) {
  img {
    margin-bottom: 1.5rem;
  }

  .card-description {
    max-width: 13.5rem;
    margin-bottom: 3rem;
  }

}

