:root {
  /* ========= COLORS PRIMARY ========= */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  
  /* ========= COLORS NEUTRAL ========= */
  --transparent-white: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
  --very-light-gray: hsl(0, 0%, 95%); /*background, headings, buttons*/

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font-a: 'Lexend Deca';
  --body-font-b: 'Big Shoulders Display';

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-bold: 700;

  /*========== Font size ==========*/
  --font-normal: 15px;
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--very-light-gray);
  font-size: var(--font-normal);
}

.App {
  padding: 4rem 1rem 1rem;
}

.card-container {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-sedans,
.card-suvs,
.card-luxury {
  height: 50vh;
  padding: 3rem 2rem 2rem 2rem;
}

.card-sedans {
  background-color: var(--bright-orange);
}

.card-suvs {
  background-color: var(--dark-cyan);
}

.card-luxury {
  background-color: var(--very-dark-cyan);
}

.card-sedans button {
  color: var(--bright-orange);
}

.card-suvs button {
  color: var(--dark-cyan);
}

.card-luxury button {
  color: var(--very-dark-cyan);
}